<h3>Dashboard</h3>

<div class="form-horizontal">

    <div class="form-group">
    
        <label class="control-label col-md-2">vMix Version</label>
        
        <div class="col-md-10">
            <input class="form-control" ng-model="vmix.version" readonly />
        </div>
        
    </div>

    <div class="form-group">
    
        <label class="control-label col-md-2">Playlist</label>
        
        <div class="col-md-10">
            <input class="form-control" ng-value="(vmix.playList === 'True' ? 'Yes' : 'No')" readonly />
        </div>
        
    </div>
    
</div>

<span ng-bind="JSON.stringify(vmix)"></span>