<fieldset>
    <legend>Streaming Device Dashboard</legend>

    <div class="btn-group btn-group-justified">
        <div class="btn-group">
            <button type="button" class="btn btn-success">Fetch Command</button>
        </div>
        <div class="btn-group">
            <button type="button" class="btn btn-primary">Refresh State</button>
        </div>
        <div class="btn-group">
            <button type="button" class="btn btn-primary">Publish State</button>
        </div>
        <div class="btn-group">
            <button type="button" class="btn btn-danger">Shutdown</button>
        </div>
    </div>

    <br />

    <table class="table table-responsive table-hover">
        <thead>
            <tr>
                <th>Device identifier</th>
                <th>Device status</th>
                <th>State captured on</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td ng-bind="state.deviceId"></td>
                <td ng-bind="state.status"></td>
                <td ng-bind="state.stateCapturedOn | date: 'MM/dd/yyyy h:mma'"></td>
            </tr>
        </tbody>
    </table>

    <ul class="list-group">
        <li class="list-group-item"></li>
    </ul>

</fieldset>